version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
  pull-request-branch-name:
    separator: "-"
  assignees:
  - Shareed2k
  - shamil
  - nikolay-udovik
